.content {
    position: relative;
    width: 960px;
    margin: auto;
    background: black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#gameover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: 68px;
    width: 960px;
    line-height: 360px;
    text-align: center;
}
